<h2 class="country-title">{{name}}</h2>
<div class="country-wrapper">
    <ul class="country-details-list">
        <li class="country-details-list-item"><b>Capital: </b>{{capital}}</li>
        <li class="country-details-list-item"><b>Population: </b>{{population}}</li>
        <li class="country-details-list-item">
            <b>Languages: </b>
            <ul class="languages-list">
                {{#each languages}}
                <li class="languages-list-item">{{this.name}}</li>
                {{/each}}
            </ul> 
        </li>
        <li class="country-details-list-item"><b>Borders: </b>{{borders}}</li>
    </ul>
    <img class="country-flag" src="{{flag}}" alt="flag" width="400">
</div>

{{!-- alpha2Code: "UA"
alpha3Code: "UKR"
altSpellings: (2) ["UA", "Ukrayina"]
area: 603700
borders: (7) ["BLR", "HUN", "MDA", "POL", "ROU", "RUS", "SVK"]
callingCodes: ["380"]
capital: "Kiev"
cioc: "UKR"
currencies: [{…}]
demonym: "Ukrainian"
flag: "https://restcountries.eu/data/ukr.svg"
gini: 26.4
languages: [{…}]
latlng: (2) [49, 32]
name: "Ukraine"
nativeName: "Україна"
numericCode: "804"
population: 42692393
region: "Europe"
regionalBlocs: []
subregion: "Eastern Europe"
timezones: ["UTC+02:00"]
topLevelDomain: [".ua"]
translations: {de: "Ukraine", es: "Ucrania", fr: "Ukraine", ja: "ウクライナ", it: "Ucraina" --}}